@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", "sans-serif";
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

header {
  width: 100%;
  display: flex;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  background-color: #444;
}

.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 10px;
  border-radius: 10px;
  background-color: rgb(252, 252, 252);
}

.errMsg {
  margin-top: 10px;
  color: #ff0000;
}

h1 {
  font-size: 2.3rem;
}

.weather {
  width: 50%;
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px;
  border-radius: 20px;
}

.searchBar {
  display: flex;
  align-items: center;
  color: #2e2e2e;
}

h4 {
  font-size: 2rem;
  font-weight: 400;
}

.searchBar input[type="text"] {
  width: 150px;
  border: none;
  outline: none;
  border-bottom: 2px solid #444;
  font-size: 2rem;
  font-weight: 500;
  text-align: center;
  margin-left: 5px;
  color: #2e2e2e;
  background-color: transparent;
}

.currentWeather {
  width: 90%;
  display: flex;
  flex-grow: 2;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  padding: 20px;

}

.currentWeather img {
  width: 150px;
  height: 150px;
}

.iconContainer {
  display: flex;
  flex-grow: 5;
  align-items: center;
  justify-content: center;
}

.temperatureContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#temperature {
  font-size: 4rem;
  color: #5c5c5c;
}

#feels {
  font-size: 1.5rem;
  color: #a5a5a5;
}

.sideInfo {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 50px;
}

.sideInfo span {
  font-size: 1.4rem;
  color: #747474;
}

.forecast {
  width: 40%;
  display: flex;
  flex-grow: 3;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.secondWeather {
  width: 100%;
  height: 55%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

.secondWeather span {
  font-size: 1.7rem;
  color: #747474;
}

.thirdWeather {
  width: 100%;
  height: 55%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

.thirdWeather span {
  font-size: 1.7rem;
  color: #747474;
}

.container-temperature {
  font-size: 2rem;
  margin: 16px;
  color: darkgray;
}

.container-toggle-buttons {
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
}

.toggle-button {
  color: #cacaca;
  padding: 4px 8px;
  cursor: pointer;
}

.unit-enabled {
  font-weight: 900;
  width: 30px;
  padding: 3px;
  text-align: center;
  color: rgb(63, 62, 62);
  cursor: default;
}

.right-border-none {
  border-right: none;
}

.left-border {
  border-left: 1px solid #000000;
}
