@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", "sans-serif";
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 50%;
  height: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding: 10px;
  border-radius: 10px;
  background-color: rgb(223, 223, 223);
}

h1 {
  font-size: 2.3rem;
}

.weather input {
  width: 200px;
  height: 10px;
  padding: 10px;
  outline: none;
  border: none;
  border-radius: 5px;
}

.weather input::placeholder {
  font-size: 1rem;
}

.weather button {
  width: 60px;
  height: 35px;
  outline: none;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
